<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th class="h4">#</th>
          <th class="h4">Marca</th>
          <th class="h4">Linea</th>
          <th class="h4">Modelo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehicle of vehicles">
          <td>
            <dd>{{ vehicle.id }}</dd>
          </td>
          <td>
            <dd>{{ vehicle.marca }}</dd>
          </td>
          <td>
            <dd>{{ vehicle.linea }}</dd>
          </td>
          <td>
            <dd>{{ vehicle.modelo }}</dd>
          </td>
        </tr>
      </tbody>
    </table>

    <a *ngFor="let brand of getCountBrands()">
      Total {{ brand.Marca }}: {{ brand.Cantidad }}
      <br />
    </a>
  </div>
</div>

<div id="contactUs">
  <p>Contact us : +57 3102105253 - info&#64;tusegundazo.com - &#64;tusegundazo</p>
</div>
